* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  padding: 1rem 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.123);
}

.logo-link:link,
.logo-link:visited {
  color: inherit;
  text-decoration: none;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.7s;
}

.logo-link:hover,
.logo-link:active {
  transform: scale(1.1);
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.nav {
  display: flex;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 4rem;
}

.list:last-child {
  margin-right: 7rem;
}

.list-link:link,
.list-link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  transition: all 0.3s;
}

.list-link:hover,
.list-link:active {
  color: #6685c2;
  transform: scale(1.1);
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.home {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.5),
      rgba(245, 245, 245, 0.8)
    ),
    url("../img/background-img.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  padding-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-1 {
  margin-top: 4rem;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.bio {
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
  margin: 3rem 14rem;
}

.btn {
  text-decoration: none;
  color: #000;
  margin-top: 9rem;
  border: none;
  background: none;
  padding: 1.2rem 4.5rem;
  cursor: pointer;
  background: #9fb1d6c3;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-10%);
}

.social-bar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.405);
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
  padding: 0.5rem;
}

.social-bar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.home-hero__social-icon {
  height: 3rem;
  width: 3rem;
}

.section-projects {
  padding: 6rem 9rem;
  background-color: #a9a9a941;
}

.project-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.heading-2 {
  font-size: 2.5rem;
  font-weight: 750;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.projects-desc {
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.gallery {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: center;
  gap: 3rem;
}

.gallery-link:link,
.gallery-link:visited {
  overflow: hidden;
}

.gallery-img {
  height: 22.5rem;
  width: 46.5rem;
  transition: all 1s;
}

.gallery-img:hover {
  transform: scale(1.3);
}

.section-contact {
  background: linear-gradient(
      to top,
      rgba(245, 245, 245, 1),
      rgba(245, 245, 245, 0.4)
    ),
    url("../img/background-img.jpg");
  background-size: cover;
  background-position: center;
  padding: 6rem 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form textarea {
  width: 80%;
  padding: 1rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #c3cfe8c3;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.textarea {
  padding: 0 10rem;
  grid-column: 1 / -1;
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn--form {
  margin: 0 15rem;
  padding: 1.2rem 4.5rem;
  cursor: pointer;
  grid-column: 2;
  background: #9fb1d6c3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.5s;
}

.btn--form:hover {
  transform: translateY(10%);
}

.main-footer {
  background: #000;
  color: #fff;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.main-footer__upper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

.main-footer__upper p {
  padding: 0 1rem;
}

.main-footer__lower {
  padding: 3rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: center;
}

footer a {
  font-size: 1rem;
  color: inherit;
}
